a {
  text-decoration: none;
}

body {
  font-family: "Nanum Gothic", sans-serif;
}

h1 {
  color: rgb(48, 46, 46);
  font-size: 24px;
  margin-left: 20px;
}

h2 {
  color: rgb(119, 116, 116);
  font-size: 20px;
  margin-left: 20px;
}

h2:first-letter {
  text-transform: capitalize;
}

#displayedTemperature {
  color: rgb(48, 46, 46);
  font-size: 24px;
  font-weight: bold;
}

#search-form {
  margin: 20px auto;
  width: 90%;
}

.active {
  color: rgb(48, 46, 46);
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

.current-weather-area {
  margin: 20px 40px;
}

.sun-main-icon {
  color: rgb(233, 233, 12);
  font-size: 50px;
}

.units {
  font-size: 14px;
  position: relative;
  top: -10px;
}

.weather-app-wrapper {
  margin: 60px auto;
  padding: 20px;
  width: 70%;
}

.weather-conditions {
  text-align: start;
  position: relative;
  top: 20px;
}
